/* Importing the "normalize.css" file which is for resetting all the default css values */
@import url("./normalize.css");
/* Importing popup.css file for styling details-popup*/
@import url("./popup.css");

/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Scrollbar Styling */
::-webkit-scrollbar-button {
  height: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--light-temptrees);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* ******Main & Secondary Colors****** */
:root {
  --white: #fff;
  --isabelline: #f7f4ef;
  --silver-sand: #c7c6c3;
  --chrome-yellow: #feaa00;
  --light-chrome-yellow: #fecc66;
  --light-x-chrome-yellow: #ffe6b3;
  --dark-olive: #788402;
  --light-olive: #a1a94e;
  --light-x-olive: #aeb567;
  --light-xx-olive: #bcc281;
  --dark-temptrees: #342628;
  --light-temptrees: #6b6062;
  --verdana: verdana, tahoma, sans-serif;
  --Tahoma: tahoma, verdana, sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --open-sans: "Open Sans", sans-serif;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(349, 5%, 50%);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: hsl(349, 5%, 50%);
}

/* **********Global Classes********** */
body,
main {
  width: 100%;
  height: 100%;
  background: var(--isabelline);
  padding: 0;
  margin: 0;
}

.container {
  font-family: var(--open-sans);
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

.underline {
  height: 2.5px;
  background-color: var(--chrome-yellow);
  width: 100%;
}

.title h1,
h2,
h3 {
  margin: 0;
}

/* ======================================Header Start====================================== */
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--dark-temptrees);
  box-shadow: 0 15px 15px 0 rgba(52, 38, 40, 0.2);
  width: 100%;
  height: 80px;
  padding: 5px 45px;
  margin: 0;
  z-index: 9999;
}

.header-logo img {
  width: 125px;
  height: 60px;
  padding: 0 15px;
}

.meals-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 25px;
}

.meals-count h2 {
  font-size: 15px;
  font-family: var(--open-sans);
  color: var(--silver-sand);
  background: var(--dark-temptrees);
  text-align: center;
  text-decoration: underline;
  border-radius: 25px;
  border: 3px solid var(--light-temptrees);
  padding: 15px;
  margin: 5px 0 25px;
}

/* =======================================Header End======================================= */

/* ======================================Navigation Start==================================== */
.desktop-menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 45px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 5px;

  /* position: relative; */
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  flex-wrap: nowrap;
}

.nav-menu a {
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: center;
  color: var(--isabelline);
  opacity: 0.75;
  width: 100%;

  /* position: relative; */
  z-index: 99999;
}

.nav-menu a:hover {
  opacity: 1;
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 60px;
  background: var(--light-temptrees);

  /* background: rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(4px) saturate(180%);
  transition: all 0.5s ease-in-out;
  width: 100%;
  min-width: 0;
  padding: 5px;
}

.search-box input {
  flex: 1;
  border: 0;
  outline: none;
  font-size: 15px;
  background: transparent;
  color: var(--isabelline);
  width: 0;
  padding: 0;
}

::placeholder {
  color: var(--isabelline);
}

.search-box button {
  text-align: center;
  border: 0;
  border-radius: 50%;
  background: transparent;
  color: var(--isabelline);
  opacity: 0.75;
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.search-box button:hover {
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
  scale: 1.05;
}

/* =======================================Navigation End===================================== */

/* =====================================Page-Wrapper Start=================================== */
.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 40px 20px;
  min-height: 555px;
  height: 100%;
  width: 100%;
}

.page-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  height: auto;
  width: 100%;
}

/* ======================================Page-Wrapper End==================================== */

/* ================================Meals-Items-Section Start================================ */
.card-wrapper {
  display: flex;
  width: auto;
}

.card {
  width: 320px;
  border: 3px solid var(--dark-olive);
  border-radius: 27px;
  background-color: var(--isabelline);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light-xx-olive);
  border-radius: 25px 25px 0 25px;
  padding: 10px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--light-xx-olive);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--isabelline);
}

.card-image {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: var(--isabelline);
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-wrapper img {
  width: 300px;
  height: 300px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  z-index: 1;
}

/* ==============LIKE BUTTON======================= */

.like-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.heart-icon {
  color: red;
}

.like-count {
  font-family: sans-serif;
  font-size: 15px;
  /* content: '12 Likes'; */
  color: #9c9496;
}

.meal-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.card-btn {
  font-family: var(--open-sans);
  font-size: 15px;
  color: var(--isabelline);
  padding: 8px;
  background-color: var(--light-x-olive);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 35px;
  width: 110px;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover {
  background-color: var(--dark-olive);
}
/* =================================Meals-Items-Section End================================= */

/* =================================Contact-Section Start================================= */

/* ==================================Contact-Section End================================== */

/* ==================================Footer-Section Start================================== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: var(--open-sans);
  color: var(--silver-sand);
  background: var(--dark-temptrees);
  width: 100%;
  height: 100%;
  padding: 25px 65px;
  margin: 0;
  position: relative;
}

.footer-content .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  padding: 10px;
}

.footer-content .social-icons li {
  list-style: none;
}

.footer-content .social-icons li a {
  display: inline-block;
  font-size: 25px;
  color: var(--isabelline);
  transition: 0.5s;
  opacity: 0.75;
}

.footer-content .social-icons li a:hover {
  transform: translateY(-10px);
  opacity: 1;
}

/* ===================================Footer-Section End=================================== */

/* ====================================Media Query Start==================================== */

/*******  First Breakpoint  *******/
@media screen
  and (min-width: 900px) {
  .search-box {
    transition: all 0.5s ease-in-out;
    width: 100%;
    min-width: 300px;
    padding: 5px 10px;
  }

  .search-box input {
    transition: all 0.2s ease-in-out;
    padding: 8px 5px;
  }
}

/* =====================================Media Query End===================================== */
